EXPO_PUBLIC_FIREBASE_API_KEY=xxx
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=xxx
EXPO_PUBLIC_FIREBASE_PROJECT_ID=xxx
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=xxx
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=xxx
EXPO_PUBLIC_FIREBASE_APP_ID=xxx

# App Store Connect (デプロイ用)
# Apple ID（App Store Connectにログインするメールアドレス）
APPLE_ID=your-email@example.com
# App-Specific Password（https://appleid.apple.com で生成）
APP_SPECIFIC_PASSWORD=xxxx-xxxx-xxxx-xxxx
